<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <welcome-file-list>
        <welcome-file>StockWatcher.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>StockPriceService</servlet-name>
        <servlet-class>ua.org.gostroy.stockwatcher.server.StockPriceServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockPriceService</servlet-name>
        <!--<url-pattern>/stockwatcher/StockPriceService</url-pattern>-->
        <url-pattern>/ua.org.gostroy.stockwatcher.StockWatcher/StockPriceService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>jsonStockData</servlet-name>
        <servlet-class>ua.org.gostroy.stockwatcher.server.JsonStockData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsonStockData</servlet-name>
        <url-pattern>/ua.org.gostroy.stockwatcher.StockWatcher/stockPrices</url-pattern>
    </servlet-mapping>

</web-app>
